permissions: write-all

env:
  GITHUB_HEAD_REF_AGAIN: ${{ github.head_ref }}
on:
  pull_request:
  pull_request_review:
    types: [created, edited, dismissed, submitted]
  issue_comment:
    types: [created, edited, dismissed, submitted]
  pull_request_review_comment:
    types: [created, edited, dismissed, submitted]
  pull_request_target:
    types: [assigned, opened, synchronize, reopened,unlabeled,labeled,unassigned,]
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - env:
          ME_MODIFYING_FIX_THIS_GITHUB: ${{ secrets.FIX_THIS_GITHUB }}
        run: echo "WTF???"; printenv
      - run: ls; echo "GITHUB_HEAD_REF_AGAIN REF IS $GITHUB_HEAD_REF_AGAIN"; printenv
      - env:
          DIFF_URL: ${{ github.event.pull_request.diff_url }}
          HEAD_REF: ${{ github.head_ref }}
        run: ls; echo "HEAD REF IS $HEAD_REF"; echo "DIFF_URL is $DIFF_URL"; printenv
      # - name: Create tag
      #   uses: actions/github-script@v5
      #   with:
      #     script: |
      #       github.rest.git.createRef({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         ref: 'refs/tags/pwned',
      #         sha: context.sha
      #       })
